@import "~bootstrap/scss/bootstrap.scss";

body{
    background-image: url("https://images.pexels.com/photos/586687/pexels-photo-586687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.card{
    margin: auto;
    height: 250px;
    background-color: white;
    width: 400px;
    text-align: center;
    margin-top: 250px;
}

.texta{
    color:#8d4850;
    font-family: 'Homemade Apple', cursive;
}

.dropdown{
    font-family: 'Homemade Apple', cursive;
}